<!-- Sidebar -->
<div class="col-xs-2" id="sidebar">
  <h1>Fumblr</h1>
  <ul class="nav nav-sidebar">
    <li><%= link_to "About", root_path %></li>
    <li><%= link_to "User Login", root_path %></li>
  </ul>
</div>
